.sidebarOpt{
  display: flex;
  align-items:center;
  cursor: pointer;
}
.sidebarOpt:hover{
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}
.sidebarOpt > .MuiSvgIcon-root {
  padding: 20px;
} 

.sidebarOpt > h2{
  font-size: 20px;
  font-weight: 800;
  margin-right: 20px;
}

.sidebarOpt--active{
  color: var(--twitter-color);
}